umuledemo25-parsetemplate/src/main/mule/umuledemo25-parsetemplate.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3a22262c-149d-4a9b-8209-956445bba2c2" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="umuledemo25-parsetemplateFlow" doc:id="23ae6ff2-255f-41c6-8979-39b6834d1b88" >
		<http:listener doc:name="/POST employee" doc:id="4c2e0e60-d996-4bfe-870c-514eadede215" config-ref="HTTP_Listener_config" path="/employee" allowedMethods="POST"/>
		<parse-template doc:name="Parse Template" doc:id="8c9c3a0b-afc4-4eca-bac7-2dc0cde33c5b" >
			<content >&lt;html&gt;
	&lt;body&gt;
		&lt;table border=&quot;1&quot;&gt;
			&lt;tr&gt;
				&lt;th&gt;Employee Name&lt;/th&gt;
				&lt;th&gt;Employee ID&lt;/th&gt;
				&lt;th&gt;Employee EmailID&lt;/th&gt;
			&lt;/tr&gt;
			&lt;tr&gt;
				&lt;td&gt;#[payload.empName]&lt;/td&gt;
				&lt;td&gt;#[payload.empID]&lt;/td&gt;
				&lt;td&gt;#[payload.empEmailID]&lt;/td&gt;
			&lt;/tr&gt;
		&lt;/table&gt;
	&lt;/body&gt;
&lt;/html&gt;</content>
		</parse-template>
	</flow>
</mule>
