umuledemo06/src/main/mule/umuledemo06.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="2de75753-bde2-40ee-8484-ffbd8c9aaeb8" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="MainFlow" doc:id="80d1655d-5b33-4698-bdc0-fc5f4147d4a9" >
		<http:listener doc:name="/Get hello" doc:id="22a58fa1-8737-410b-b274-0787d957beae" config-ref="HTTP_Listener_config" path="/hello" allowedMethods="GET"/>
		<set-variable value="10" doc:name="Set Variable" doc:id="3ef27f61-4c30-410d-9678-bf01f4a2dcd5" variableName="var1"/>
		<logger level="INFO" doc:name="MainFlowLogger" doc:id="8b643434-29be-4a48-b1ec-393a5d210708" message="** Main Flow got Invoked **"/>
		<logger level="INFO" doc:name="Logger" doc:id="ff87fec6-ed54-437a-aea6-9ffee1f85fb2" message="#[vars.var1]" />
		<flow-ref doc:name="Flow Reference" doc:id="216ba38d-9c09-4074-bf36-42e4db0e9863" name="PrivateFlow"/>
	</flow>
	<flow name="PrivateFlow" doc:id="2c48d8ce-4fe2-4934-9815-a622a0d5e2fa" >
		<set-variable value="15" doc:name="Set Variable" doc:id="ae201491-d665-4048-86e6-f2dd392b5db9" variableName="var1"/>
		<logger level="INFO" doc:name="Logger" doc:id="cf9ec0a6-2ca0-4444-b3e8-0febc4228412" message="** Private Flow Invoked **"/>
		<logger level="INFO" doc:name="Logger" doc:id="e573834a-52f4-4377-8167-a6c3d99ad407" message="#[vars.var1]"/>
	</flow>
	<sub-flow name="SubFlow" doc:id="9ecd64c1-9a32-4c2e-8350-7f3b10350c7f" >
		<logger level="INFO" doc:name="Logger" doc:id="dd20d9c7-e185-46cd-8bae-580bd2b7eafd" message="** SubFlow got Invoked ** "/>
		<set-variable value="20" doc:name="Set Variable" doc:id="01402a38-8154-4a8c-a0eb-796e5f5f3d0c" variableName="var1"/>
		<logger level="INFO" doc:name="Logger" doc:id="5f7b441f-0d28-46ef-aee5-8d21fb2bed68" message="#[vars.var1]"/>
	</sub-flow>
</mule>
