umuledemo08-03112021/src/main/mule/umuledemo08-03112021.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">
	<file:config name="File_Config" doc:name="File Config" doc:id="1f42ce76-f35e-4cd0-b32a-d86abc48f456" >
		<file:connection workingDir="C:\Mulesoft\uMuleSoft\Input" />
	</file:config>
	<flow name="FileProcessingFlow" doc:id="529c7a34-3443-47d6-9375-08a2a7428403" >
		<file:listener doc:name="On New or Updated File" doc:id="8b6cd60a-3d73-4ab6-b05f-8f9b23245b01" config-ref="File_Config" directory="C:\Mulesoft\uMuleSoft\Input" timeBetweenSizeCheck="5" timeBetweenSizeCheckUnit="SECONDS" autoDelete="true" moveToDirectory="C:\Mulesoft\uMuleSoft\Archive">
			<scheduling-strategy >
				<fixed-frequency frequency="5"/>
			</scheduling-strategy>
		</file:listener>
		<logger level="ERROR" doc:name="Logger" doc:id="7e92079b-0b4a-4984-937b-01429e2de639" message="#[payload]"/>
	</flow>
</mule>
